<div class="uk-margin uk-width-2xlarge uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
    <form class="uk-form-stacked uk-text-left" enctype="multipart/form-data" action="/addMonument" method="POST">
        <div class="uk-grid uk-grid-stack">
            <div class="uk-width-1@m">
                <div class="uk-margin">
                    <label class="uk-form-label" for="form-stacked-text">Monument Title</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" id="form-stacked-text" type="text" name="title"
                            placeholder="Enter Monument Title" />
                    </div>
                </div>
                <div class="uk-margin">
                    <div class="uk-form-label">Description</div>
                    <div class="uk-form-controls">

                        <textarea class="uk-textarea" id="form-stacked-text" type="text" name="description"
                            placeholder="Enter Monument Description"></textarea>
                    </div>

                </div>
                <div class="uk-margin">
                    <div class="uk-form-label">Province</div>
                    <select class="uk-select" name="province" id="provinceSelectField">
                        <option value="" disabled selected>Select Province</option>
                        <option>Connacht</option>
                        <option>Munster</option>
                        <option>Leinster</option>
                        <option>Ulster</option>
                    </select>
                </div>

                <div class="uk-margin" style="display:none" id="countyContainer">
                    <div class="uk-form-label">County</div>
                    <select class="uk-select" name="county" id="countySelectField">
                        <option value="" disabled selected>Select County</option>

                    </select>
                </div>


                <div class="uk-margin" uk-grid>

                    <div class="uk-width-1-2@m">
                        <label class="uk-form-label" for="form-stacked-text">Latitude</label>
                        <div class="uk-form-controls">
                            <input class="uk-input" id="form-stacked-text" type="number" step=".0001" name="latitude"
                                placeholder="Enter Monument Latitude" />
                        </div>
                    </div>
                    <div class="uk-width-1-2@m">
                        <label class="uk-form-label" for="form-stacked-text">Longitude</label>
                        <div class="uk-form-controls">
                            <input class="uk-input" id="form-stacked-text" type="number" step=".0001" name="longitude"
                                placeholder="Enter Monument Longitude" />
                        </div>
                    </div>

                </div>



                <div class="uk-margin" id="categoryDivContainer">
                    <div class="uk-form-label">Existing Categories</div>
                    {{#each categories}}
                    <div class="uk-width-expand@m">
                        <input class="uk-checkbox" name="category" value={{title}} type="checkbox">
                        {{title}}
                    </div>

                    {{/each}}




                </div>
                <div class="uk-margin">
                    <div class="uk-form-label">New Category</div>
                    <div class="uk-form-controls">

                        <input class="uk-input" id="newCategoryInputField" type="text"
                            placeholder="Enter Category Title" />
                    </div>

                    <button class="uk-button uk-button-default uk-margin-top" id="addNewCategoryButton" type="button"
                        tabindex="-1">Add Category</button>

                </div>

            </div>



            <div class="uk-margin">
                <div class="uk-form-label">Image</div>
                <div uk-form-custom>
                    <input type="file" accept="image/x-png,image/gif,image/jpeg" name="imageUpload" id="imageInput"
                        onchange="readFile(this)" multiple>
                    <button class="uk-button uk-button-secondary" type="button" tabindex="-1" name='test'>Add Monument
                        Image</button>
                </div>
                {{> error}}
            </div>

            <ul id="preview"
                class="uk-list uk-grid-match uk-child-width-1-2 uk-child-width-1-4@l uk-child-width-1-5@xl uk-text-center"
                uk-grid uk-scrollspy="cls: uk-animation-scale-up; target: .list-item; delay: 80"></ul>














        </div>

        <script>
            let newCategoryInputField = document.getElementById('newCategoryInputField');
            let addNewCategoryButton = document.getElementById('addNewCategoryButton');
            let categoryDivContainer = document.getElementById('categoryDivContainer');
            let imageInput = document.getElementById('imageInput')

            addNewCategoryButton.addEventListener('click', () => {

                console.log(newCategoryInputField.value.length)
                if (newCategoryInputField.value.length > 1) {
                    let checkboxParentDiv = document.createElement('div')
                    checkboxParentDiv.classList.add('uk-width-expand@m')
                    let checkboxLabel = document.createElement('label')

                    checkboxLabel.innerHTML = `<input class="uk-checkbox" name="category" value=${newCategoryInputField.value} type="checkbox"> ${newCategoryInputField.value}`
                    checkboxParentDiv.appendChild(checkboxLabel)

                    categoryDivContainer.appendChild(checkboxParentDiv)
                }



            })




            const countyContainer = document.getElementById('countyContainer');
            let provinceSelectField = document.getElementById('provinceSelectField');
            const munsterCounties = ['Cork', 'Clare', 'Kerry', 'Limerick', 'Tipperary', 'Waterford']
            const leinsterCounties = ['Dublin', 'Wicklow', 'Kildare', 'Meath', 'Westmeath', 'Offaly', 'Kilkenny', 'Laois', 'Wexford', 'Carlow', 'Louth']
            const connachtCounties = ['Galway', 'Mayo', 'Sligo', 'Roscommon', 'Sligo', 'Leitrim']
            const ulsterCounties = ['Antrim', 'Derry', 'Down', 'Donegal', 'Fermanagh', 'Cavan', 'Tyrone', 'Armagh', 'Monaghan']
            let countySelectField = document.getElementById('countySelectField');

            provinceSelectField.addEventListener('change', (e) => {
                countyContainer.style.display = 'block'
                deletePreviousCountyOptions(countySelectField)
                createDefaultOption()

                if (e.target.value === 'Munster') {
                    createCountyOptions(munsterCounties)
                }
                else if (e.target.value === 'Leinster') {
                    createCountyOptions(leinsterCounties)
                }
                else if (e.target.value === 'Connacht') {
                    createCountyOptions(connachtCounties)
                }
                else if (e.target.value === 'Ulster') {
                    createCountyOptions(ulsterCounties)
                }

            })

            function deletePreviousCountyOptions(countySelectField) {
                while (countySelectField.childNodes.length) {
                    countySelectField.removeChild(countySelectField.lastChild);
                }
            }

            function createDefaultOption() {
                let disabledOption = document.createElement('option');
                disabledOption.value = ''
                disabledOption.textContent = 'Select County'
                disabledOption.disabled = true
                disabledOption.defaultSelected = true
                countySelectField.appendChild(disabledOption)


            }

            function createCountyOptions(provinceCountyArray) {
                for (county in provinceCountyArray) {
                    let countyOption = document.createElement('option')
                    countyOption.textContent = provinceCountyArray[county]
                    countySelectField.appendChild(countyOption)

                }
            }




            const preview = document.getElementById('preview');

            function imgPreviewLi(readerResult, filename) {
                const li = document.createElement("li");
                const div = document.createElement("div");
                const img = document.createElement("img");
                const span = document.createElement("span");

                li.className = "list-item uk-margin-medium-top";
                div.className = "uk-cover-container";
                img.className = "delete-img-preview";
                img.setAttribute("id", "img-preview-responsive");
                img.setAttribute("src", readerResult);
                img.setAttribute("name", "image")
                img.setAttribute("data-name", filename);
                img.setAttribute("alt", "file-image-preview");
                span.className = "uk-text-meta uk-text-break file-upload-name";
                span.textContent = filename;

                div.append(img);
                li.append(div, span);
                return li;
            }


            imageInput.addEventListener('click', (e) => {
                console.log(e)
                let imgPreviewElems = preview.children


                Array.from(imgPreviewElems).forEach(function (element) {
                    preview.removeChild(element)
                });
            })

            async function readFile(input) {

                console.log(input.files)

                let allFiles = input.files

                if (allFiles.length < 2) {
                    let file = input.files[0];


                    let fileName = input.files[0].name;

                    let reader = new FileReader();

                    //reader.readAsDataURL(file)

                    if (preview.childNodes.length < 1) {
                        reader.onload = function () {
                            let imageResult = imgPreviewLi(reader.result, fileName)
                            preview.append(imageResult)
                        };
                        reader.readAsDataURL(file);

                        reader.onerror = function () {
                            console.log(reader.error);
                        };


                    }


                }
                else if (allFiles.length >= 2) {
                    let file = ''
                    console.log(allFiles)
                    console.log(allFiles[0])
                    console.log(file)
                    for (let i = 0; i < allFiles.length; i++) {

                        let file = await allFiles[i];
                        let fileName = allFiles[i].name;
                        let reader = new FileReader();

                        reader.onload = function () {
                            let imageResult = imgPreviewLi(reader.result, fileName)
                            preview.append(imageResult)
                        };
                        reader.readAsDataURL(file);

                        reader.onerror = function () {
                            console.log(reader.error);
                        };

                    }

                }

                //let file = input.files[0];


                //let fileName = input.files[0].name;

                //let reader = new FileReader();

                //reader.readAsDataURL(file)

                //if (preview.childNodes.length < 1) {
                //reader.onload = function () {
                //let imageResult = imgPreviewLi(reader.result, fileName)
                //preview.append(imageResult)
                //};
                // reader.readAsDataURL(file);



                // }


                //console.log(reader)
                //console.log(file)
                //reader.readAsDataURL(file);



            }








        </script>





        <div class="uk-width-1@m">
            <div class="uk-margin">
                <button class="submit uk-button uk-margin-top uk-button-primary uk-button-large uk-width-1-1">Add
                    Monument</button>
            </div>
        </div>
</div>
</form>
</div>