<form action="" id="deleteAccountForm" method="POST" style="display:inline">
    <button class="uk-button uk-button-danger" type="submit" formmethod="post"
        id="confirmationDeleteAccountButton">Delete</button>
</form>