{{!-- <ul id="preview" class="uk-list uk-grid-match uk-child-width-1 uk-child-width-1 uk-child-width-1 uk-text-center"
    uk-grid uk-scrollspy="cls: uk-animation-scale-up; target: .list-item; delay: 80">
    <img width="400" src="{{monument.images.[0].imageUrl}}" alt="" id="imageEditScreen">

</ul> --}}

<div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow>



    <ul class="uk-slideshow-items" id="imagesList" style="height: 600px !important">
        {{#each monument.images}}
        <li>

            <img data-src="{{imageUrl}}" alt="" uk-img="target: !.uk-slideshow-items" uk-cover>
            <canvas width="600" height="900"></canvas>
        </li>
        {{/each}}
    </ul>

    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous
        uk-slideshow-item="previous"></a>
    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next
        uk-slideshow-item="next"></a>

</div>



{{!-- <div class="uk-container uk-container-expand">
    <ul class="uk-thumbnav uk-thumbnav-vertical" uk-margin>
        {{#each monument.images}}
        <li class="uk-active"><img src="{{imageUrl}}" width="30%" alt=""></li>
        {{/each}}
    </ul>

</div> --}}