<button class="uk-button uk-button-default">Filter</button>
<div uk-dropdown="mode: click">

    <fieldset class="uk-fieldset">

        <legend class="uk-legend">County</legend>

        <div class="uk-margin">
            {{> filterByCountyForm}}
        </div>

        <legend class="uk-legend">Title</legend>
        {{> filterByTitleForm}}

</div>








</fieldset>