<form id="filterCountyForm" action="/getCountyMonuments" method="GET" style="display:inline">
    <select class="uk-select" id="countySelectField">
        <option value="" disabled selected>Select County</option>
        <option>Antrim</option>
        <option>Armagh</option>
        <option>Carlow</option>
        <option>Cavan</option>
        <option>Clare</option>
        <option>Cork</option>
        <option>Derry</option>
        <option>Donegal</option>
        <option>Down</option>
        <option>Dublin</option>
        <option>Fermanagh</option>
        <option>Galway</option>
        <option>Kerry</option>
        <option>Kildare</option>
        <option>Kilkenny</option>
        <option>Laois</option>
        <option>Leitrim</option>
        <option>Limerick</option>
        <option>Longford</option>
        <option>Louth</option>
        <option>Mayo</option>
        <option>Meath</option>
        <option>Monaghan</option>
        <option>Offaly</option>
        <option>Roscommon</option>
        <option>Sligo</option>
        <option>Tipperary</option>
        <option>Tyrone</option>
        <option>Waterford</option>
        <option>Westmeath</option>
        <option>Wexford</option>
        <option>Wicklow</option>


    </select>
    <button class="uk-button uk-button-primary uk-margin-top" type="submit" formmethod="get">Filter by county</button>

</form>