<div uk-alert>
    <form action="/report" method="GET" style="display:inline">
        <a class="uk-alert-close" uk-close></a>
        <h3>Results Found</h3>
        <p>{{resultCount}} result(s) found for that search. Click the button below to clear the current filter.</p>
        <button class="uk-button uk-button-primary" type="submit">Clear filter</button>
    </form>
</div>