<div class="uk-card uk-card-default uk-card-body uk-padding-small" style="height: 250px">
    <h4 class="uk-text-primary">Categories</h4>
    <ul class="uk-list">
        {{#each monument.categories}}
        <ul class="uk-list uk-list-circle">{{title}}</ul>
        {{/each}}

    </ul>

</div>