<table class="uk-table uk-table-small">
    <tbody>
        <tr>
            <td>Latitude</td>
            <td>{{monument.coordinates.latitude}}</td>

        </tr>
        <tr>

            <td>Longitude</td>
            <td>{{monument.coordinates.longitude}}</td>

        </tr>

    </tbody>

</table>