<form class="uk-search uk-search-default uk-width-1-1">
    <a href="/report" id="searchIcon" class="uk-search-icon-flip" type="submit" uk-search-icon></a>
    <input class="uk-search-input" id="searchInputField" type="search" placeholder="Search">
</form>