<div>
    <div class="uk-card uk-card-default uk-card-body">
        <h5>Temperature</h5>

        <img src="../images/thermometer.png" width="50">

        <p>{{currentWeather.temp}}°C</p>
    </div>
</div>