<div>
    <div class="uk-card uk-card-default uk-card-body">
        <h5>Overview</h5>


        <img src="" id="weatherDescriptionIcon" width="50" />

        <p>{{currentWeatherDescription}}</p>

    </div>
</div>