<div class="uk-flex uk-flex-center uk-flex-middle uk-grid-small" uk-grid>
    {{> title-card title="Monument" subTitle="Edit Monument"}}
    {{> main-menu }}
</div>







<div class="uk-container uk-margin">
    <div class="uk-child-width-expand uk-flex-center uk-text-center" uk-grid>

        <div class="uk-width-1-2 uk-align-center">
            <div class="uk-card uk-card-default uk-width-expand@m uk-card-body uk-box-shadow-large">
                <h3 class="uk-card-title uk-text-center">Edit Monument </h3>

                {{> editPointOfInterestForm}}
            </div>
            <div class="uk-width-1-2">

                {{> editPointOfInterestImage}}

            </div>
        </div>
    </div>
</div>





<script>
    let newCategoryInputField = document.getElementById('newCategoryInputField');
    let addNewCategoryButton = document.getElementById('addNewCategoryButton');
    let categoryDivContainer = document.getElementById('categoryDivContainer')
    let imagesList = document.getElementById('imagesList')
    console.log(imagesList)

    addNewCategoryButton.addEventListener('click', () => {

        console.log(newCategoryInputField.value.length)
        if (newCategoryInputField.value.length > 1) {
            let checkboxParentDiv = document.createElement('div')
            checkboxParentDiv.classList.add('uk-width-expand@m')
            let checkboxLabel = document.createElement('label')

            checkboxLabel.innerHTML = `<input class="uk-checkbox" name="category" value=${newCategoryInputField.value} type="checkbox"> ${newCategoryInputField.value}`
            checkboxParentDiv.appendChild(checkboxLabel)

            categoryDivContainer.appendChild(checkboxParentDiv)
        }



    })




    const countyContainer = document.getElementById('countyContainer');
    let provinceSelectField = document.getElementById('provinceSelectField');
    let existingCategoriesParent = document.getElementById('existingCategoriesParent');
    const munsterCounties = ['Cork', 'Clare', 'Kerry', 'Limerick', 'Tipperary', 'Waterford']
    const leinsterCounties = ['Dublin', 'Wicklow', 'Kildare', 'Meath', 'Westmeath', 'Offaly', 'Kilkenny', 'Laois', 'Wexford', 'Carlow', 'Louth']
    const connachtCounties = ['Galway', 'Mayo', 'Sligo', 'Roscommon', 'Sligo', 'Leitrim']
    const ulsterCounties = ['Antrim', 'Derry', 'Down', 'Donegal', 'Fermanagh', 'Cavan', 'Tyrone', 'Armagh', 'Monaghan']
    let countySelectField = document.getElementById('countySelectField');

    let selectedProvince = '{{monument.province}}'
    let selectedCounty = '{{monument.county}}'
    //let existingSelectedCategories = '{{monument.categories}}'
    let existingSelectedCategories = '{{selectedCategories}}'
    console.log(selectedProvince)

    function populateProvinceCounties(provinceValue) {

        if (provinceValue === 'Munster') {
            createCountyOptions(munsterCounties)
        }
        else if (provinceValue === 'Leinster') {
            createCountyOptions(leinsterCounties)
        }
        else if (provinceValue === 'Connacht') {
            createCountyOptions(connachtCounties)
        }
        else if (provinceValue === 'Ulster') {
            createCountyOptions(ulsterCounties)
        }

    }

    function selectCurrentProvince(provinceTitle) {

        let provinceOptions = provinceSelectField.children;
        for (province in provinceOptions) {
            if (provinceOptions[province].textContent === provinceTitle) {
                provinceOptions[province].selected = true
                break

            }


        }


    }

    function selectCurrentCounty(countyTitle) {
        let countyOptions = countySelectField.children


        for (county in countyOptions) {
            if (countyOptions[county].textContent === countyTitle) {
                countyOptions[county].selected = true
                break

            }


        }
    }

    function selectCurrentCategories(categoryList) {

        let existingCheckboxes = document.getElementsByClassName('existingCategory')

        for (individualCheckbox in existingCheckboxes) {
            if (categoryList.includes(existingCheckboxes[individualCheckbox].value)) {
                existingCheckboxes[individualCheckbox].checked = true
            }
        }


    }


    selectCurrentProvince(selectedProvince)

    populateProvinceCounties(selectedProvince)

    selectCurrentCounty(selectedCounty)


    selectCurrentCategories(existingSelectedCategories)


    setTimeout(function () { selectCurrentCounty(selectedCounty) }, 3000);

    provinceSelectField.addEventListener('change', (e) => {
        countyContainer.style.display = 'block'
        deletePreviousCountyOptions(countySelectField)
        createDefaultOption()

        if (e.target.value === 'Munster') {
            createCountyOptions(munsterCounties)
        }
        else if (e.target.value === 'Leinster') {
            createCountyOptions(leinsterCounties)
        }
        else if (e.target.value === 'Connacht') {
            createCountyOptions(connachtCounties)
        }
        else if (e.target.value === 'Ulster') {
            createCountyOptions(ulsterCounties)
        }

    })

    function deletePreviousCountyOptions(countySelectField) {
        while (countySelectField.childNodes.length) {
            countySelectField.removeChild(countySelectField.lastChild);
        }
    }

    function createDefaultOption() {
        let disabledOption = document.createElement('option');
        disabledOption.value = ''
        disabledOption.textContent = 'Select County'
        disabledOption.disabled = true
        disabledOption.defaultSelected = true
        countySelectField.appendChild(disabledOption)


    }

    function createCountyOptions(provinceCountyArray) {
        for (county in provinceCountyArray) {
            let countyOption = document.createElement('option')
            countyOption.textContent = provinceCountyArray[county]
            countySelectField.appendChild(countyOption)

        }
    }








    let imageInput = document.getElementById('imageInput');


    imageInput.addEventListener('click', (e) => {
        console.log(e)
        let imgPreviewElems = preview.children


        Array.from(imgPreviewElems).forEach(function (element) {
            preview.removeChild(element)
        });
    })

    imageInput.addEventListener('change', () => {
        console.log('working to here')

        console.log(imageInput.value)



        while (imagesList.children.length > 0) {
            let individualImage = imagesList.children[0];
            individualImage.parentNode.removeChild(individualImage);
        }





    })

    const preview = document.getElementById('preview');

    function imgPreviewLi(readerResult, filename) {
        const li = document.createElement("li");
        const div = document.createElement("div");
        const img = document.createElement("img");
        const span = document.createElement("span");

        li.className = "list-item uk-margin-medium-top";
        div.className = "uk-cover-container";
        img.className = "delete-img-preview";
        img.setAttribute("id", "img-preview-responsive");
        img.setAttribute("src", readerResult);
        img.setAttribute("name", "image")
        img.setAttribute("data-name", filename);
        img.setAttribute("alt", "file-image-preview");
        span.className = "uk-text-meta uk-text-break file-upload-name";
        span.textContent = filename;

        div.append(img);
        li.append(div, span);
        return li;
    }


    function imgDisplayLi(readerResult) {
        const li = document.createElement("li")
        const canvas = document.createElement("canvas")
        canvas.setAttribute("width", "600")
        canvas.setAttribute("height", "900")


        const img = document.createElement("img");
        img.setAttribute("src", readerResult);
        img.setAttribute("uk-img", "target: !.uk - slideshow - items")

        li.appendChild(img)
        li.appendChild(canvas)
        imagesList.appendChild(li)


    }





    async function readFile(input) {

        console.log(input.files)

        let allFiles = input.files

        if (allFiles.length < 2) {
            let file = input.files[0];


            let fileName = input.files[0].name;

            let reader = new FileReader();

            //reader.readAsDataURL(file)

            if (preview.childNodes.length < 1) {
                reader.onload = function () {
                    let imageResult = imgPreviewLi(reader.result, fileName)

                    imgDisplayLi(reader.result)
                    preview.append(imageResult)
                };
                reader.readAsDataURL(file);

                reader.onerror = function () {
                    console.log(reader.error);
                };


            }


        }
        else if (allFiles.length >= 2) {
            let file = ''
            console.log(allFiles)
            console.log(allFiles[0])
            console.log(file)
            for (let i = 0; i < allFiles.length; i++) {

                let file = await allFiles[i];
                let fileName = allFiles[i].name;
                let reader = new FileReader();

                reader.onload = function () {
                    let imageResult = imgPreviewLi(reader.result, fileName)
                    imgDisplayLi(reader.result)
                    preview.append(imageResult)
                };
                reader.readAsDataURL(file);

                reader.onerror = function () {
                    console.log(reader.error);
                };

            }

        }

        //let file = input.files[0];


        //let fileName = input.files[0].name;

        //let reader = new FileReader();

        //reader.readAsDataURL(file)

        //if (preview.childNodes.length < 1) {
        //reader.onload = function () {
        //let imageResult = imgPreviewLi(reader.result, fileName)
        //preview.append(imageResult)
        //};
        // reader.readAsDataURL(file);



        // }


        //console.log(reader)
        //console.log(file)
        //reader.readAsDataURL(file);



    }


</script>