<div class="uk-flex uk-flex-center uk-flex-middle uk-grid-small" uk-grid>
    {{> title-card title="Point of Interest Application" subTitle="Please log in"}}
    {{> welcome-menu }}
</div>
<div class="uk-container uk-margin">
    <div class="uk-child-width-expand uk-flex-center uk-flex-middle uk-text-center" uk-grid>
        <div>
            <div class="uk-card uk-card-default uk-card-body uk-box-shadow-large">
                <h3 class="uk-card-title uk-text-center">Welcome back!</h3>
                {{> loginForm}}
                {{> error }}
            </div>
        </div>
        <div>
            <img width="300" src="images/loginScreenImage.jpg">
        </div>
    </div>
</div>