<div class="uk-flex uk-flex-center uk-flex-middle uk-grid-small" uk-grid>
    <div class="uk-padding-small uk-first-column">
        {{> offCanvasNavHeader}}
    </div>
    {{> title-card title="Monument" subTitle="Monuments added so far"}}
    {{> main-menu }}
</div>

{{> offCanvasNav}}

<div class="uk-container uk-margin">
    <div class="uk-grid-small" uk-grid>
        <div class="uk-width-expand@m">
            <h1 class="uk-heading">Monuments Added To Date</h1>
        </div>
        <div class="uk-width-auto@m">
            {{> filterComponent}}

        </div>
    </div>
    <div class="uk-width-auto@m">
        <div class="uk-margin">
            {{> searchTitlesForm}}
        </div>
    </div>


</div>



<div class="uk-divider-icon"></div>


{{#if resultCount}}
{{> filterResultComponent}}
{{/if}}


{{#if monuments}}
<div class="uk-child-width-expand uk-flex-center uk-flex-middle uk-text-center" uk-grid>
    <div class="uk-width-expand@m">
        {{> monument-list }}

    </div>
</div>
</div>

<form id="filterByCountyTrigger" style="display:none">

</form>

{{else}}
{{> noResultsFoundFilter}}
{{/if}}




<script>
    let countySelectField = document.getElementById('countySelectField');
    let titleSelectField = document.getElementById('titleSelectField');

    let filterCountyForm = document.getElementById('filterCountyForm');
    let filterTitleForm = document.getElementById('filterTitleForm');

    let searchIcon = document.getElementById('searchIcon');
    let searchInputField = document.getElementById('searchInputField')
    let searchForm = document.getElementById('searchForm')

    searchInputField.addEventListener('input', (e) => {

        if (e.target.value.length === 0) {
            searchIcon.href = '/report'
        }
        else {
            searchIcon.href = `/searchMonuments/${e.target.value}`
        }

    })

    searchIcon.addEventListener('click', (e) => {
        console.log(e)
    })



    countySelectField.addEventListener('change', (e) => {

        let county = e.target.value

        filterCountyForm.action = `/getCountyMonuments/${county}`
    })

    titleSelectField.addEventListener('change', (e) => {

        let title = e.target.value

        filterTitleForm.action = `/getMonumentByTitle/${title}`
    })


    document.addEventListener('click', (e) => {
        if (e.path[1].textContent.includes('Munster') || e.path[1].textContent.includes('Connacht') || e.path[1].textContent.includes('Leinster') || e.path[1].textContent.includes('Ulster')) {


            if (!e.path[1].className.includes('uk-open')) {
                e.path[1].classList.add('uk-open')
            }
            else {
                e.path[1].classList.remove('uk-open')
            }
        }

    })
</script>