<div class="uk-flex uk-flex-center uk-flex-middle uk-grid-small" uk-grid>
    {{> title-card title="Settings" subTitle="Edit Your Account Details"}}
    {{> main-menu }}
</div>

<div class="uk-container uk-margin">
    <div class="uk-child-width-expand uk-flex-center uk-flex-middle uk-text-center" uk-grid>
        <div class="uk-width-auto@m">
            <img width="500" src="images/settingsImage.jpg">
        </div>
        <div class="uk-width-expand@m">
            <div class="uk-card uk-card-default uk-width-xlarge uk-card-body uk-box-shadow-large">
                <h3 class="uk-card-title uk-text-center">Your Details: </h3>
                {{> settings-form}}
                {{> error}}
            </div>
        </div>
    </div>
</div>

{{> deleteAccountModalSettingsView}}


</form>

<script>
    let notification = '{{successNotification}}';
    let confirmationDeleteAccountButton = document.getElementById('confirmationDeleteAccountButton');
    let deleteAccountButton = document.getElementById('deleteAccountButton')

    deleteAccountButton.addEventListener('click', (e) => {
        e.preventDefault()

    })

    if (notification === 'true') {
        UIkit.notification({ message: '<span uk-icon=\'icon: check\'></span> Successfully updated settings' })
    }

    const currentUserType = '{{user.userType}}'
    const userTypeSelectField = document.getElementById('userTypeSelectField');

    function selectCurrentUserType(type) {

        let userTypeOptions = userTypeSelectField.children;
        for (userType in userTypeOptions) {
            if (userTypeOptions[userType].textContent === currentUserType) {
                userTypeOptions[userType].selected = true
                break

            }


        }


    }

    selectCurrentUserType(currentUserType)







</script>