<div class="uk-flex uk-flex-center uk-flex-middle uk-grid-small" uk-grid>
    {{> title-card subTitle="Detailed View"}}
    {{> main-menu }}


</div>

<h1 class="uk-heading-medium uk-text-center">{{monument.title}}</h1>

<div class="uk-container uk-margin">
    <div class="uk-text-center uk-grid">
        <div class="uk-width-expand@m uk-first-column">

            {{> viewPointOfInterestImage }}
            {{> viewImageFullScreen }}

            <div class="uk-text-center uk-text-small uk-grid uk-margin-top" uk-grid>
                <div class="uk-width-expand@m uk-first-column">
                    {{> monumentCategoriesComponent}}

                </div>

                <div class="uk-width-1-2@m">
                    {{> monumentCoordinatesComponent}}


                </div>


            </div>


            {{#if weatherAvailable}}
            <div class="uk-text-center uk-text-small uk-margin uk-width-expand@m">
                <div class="uk-card uk-card-default uk-card-body uk-padding-small">
                    <h4 class="uk-text-primary">Current Weather</h4>
                    <div class="uk-child-width-expand@s uk-text-center" uk-grid>
                        {{> weatherOverviewComponent}}
                        {{> temperatureOverviewComponent}}
                        {{> sunsetOverviewComponent}}
                    </div>
                    {{> weatherOverviewTable}}
                </div>

            </div>


            <div class="uk-text-center uk-text-small uk-margin uk-width-expand@m">
                <div class="uk-card uk-card-default uk-card-body uk-padding-small">
                    <h4 class="uk-text-primary">Weather Forecast</h4>
                    {{> weatherForecastTable}}
                </div>

            </div>
            {{else}}
            {{> noWeatherDataComponent}}

            {{/if}}




        </div>

        <div class="uk-width-1-3@m">

            <div class="uk-container">
                {{monument.description}}
            </div>


        </div>
    </div>
</div>


<script>
    let currentWeatherDescription = '{{currentWeatherDescription}}'
    let weatherDescriptionIcon = document.getElementById('weatherDescriptionIcon')

    if (currentWeatherDescription !== '') {
        if (currentWeatherDescription == 'Drizzle' || currentWeatherDescription == 'Rain' || currentWeatherDescription == 'Mist') {
            weatherDescriptionIcon.src = '../images/rain.png'

        }
        else if (currentWeatherDescription == 'Snow') {
            weatherDescriptionIcon.src = '../images/snowflake.png'
        }
        else if (currentWeatherDescription == 'Clouds' || currentWeatherDescription == 'Fog') {
            weatherDescriptionIcon.src = '../images/cloud.png'

        }
        else if (currentWeatherDescription == 'Thunderstorm') {

            weatherDescriptionIcon.src = '../images/umbrella.png'
        }
        else if (currentWeatherDescription == 'Clear') {
            weatherDescriptionIcon.src = '../images/sun.png'
        }
        else {
            weatherDescriptionIcon.src = '../images/sun.png'
        }


    }


</script>